.alert-item {
  display: flex;
  flex-direction: column; /* Change to column for stacking rows */
  border: 1px solid #555; /* Darker border for dark mode */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #333; /* Dark grey background */
  color: #fff; /* White text */
  position: relative; /* For absolute positioning of icon if needed */
  text-align: left;
}

.alert-header-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer; /* Indicate that the header is clickable */
  justify-content: flex-start; /* Align items to the start */
  gap: 20px; /* Add space between items */
}

.alert-header-row h2 {
  margin: 0;
  font-size: 1.2em; /* Main heading size */
}

.alert-icon {
  font-size: 1.5rem; /* Changed from em to rem for consistent sizing */
  width: 1.5rem; /* Explicit width */
  height: 1.5rem; /* Explicit height */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* Prevent shrinking */
  vertical-align: middle; /* Align icon vertically */
}

.warning-icon {
  color: #ffc107; /* Yellow for warning */
}

.info-icon {
  color: #17a2b8; /* Blue for info */
}

.severe-icon {
  color: #dc3545; /* Red for severe */
}

.alert-description-row {
  margin-bottom: 5px;
}

.alert-description-row p {
  margin: 5px 0;
  font-size: 0.9em; /* Smaller font for description */
  white-space: pre-wrap; /* Handle newline characters */
}

/* Severity-based brightness */
.alert-item.severity-info {
  filter: brightness(0.7); /* Dimmest for INFO */
}

.alert-item.severity-warning {
  filter: brightness(0.9); /* Slightly brighter for WARNING */
}

.alert-item.severity-severe {
  filter: brightness(1.1); /* Brightest for SEVERE */
}

.alert-footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribute items */
  align-items: center;
  margin-top: 10px;
  font-size: 0.8em; /* Smaller font for footer info */
}

.alert-footer-row p {
  margin: 0;
}

.alert-footer-row a {
  margin-left: auto;
}

.collapse-button {
  background: none;
  border: none;
  color: #fff; /* White color for the icon */
  font-size: 1.2em;
  cursor: pointer;
  margin-left: auto; /* Push the button to the far right */
  padding: 0;
  display: flex; /* Use flexbox for centering content */
  align-items: center; /* Vertically center the icon */
  justify-content: center; /* Horizontally center the icon */
}

.alert-item.collapsed .alert-description-row,
.alert-item.collapsed .alert-footer-row {
  display: none;
}
