body {
  background-color: #282c34; /* Dark background for the entire app */
  color: #f0f0f0; /* Light text color */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App-header {
  color: #e0e0e0; /* Slightly softer light text color for header */
  padding: 25px 20px; /* Increased vertical padding */
}

.main-content-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Allows cards to wrap on smaller screens */
}

.mock-data-toggles {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .main-content-cards {
    flex-direction: column;
    align-items: center;
  }
}
